@font-face {
  font-family: minecraftFont;
  src: url(minecraft-webfont.woff);
  font-weight: bold;
  font-display: swap;
}


html {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 30px;
  }
}

/* font styling for entire page*/
* {
    font-family: minecraftFont;
}
/*<img class="logo" src="images/logo.webp" alt="Logo" style="width:55vw;height:29vw;" async> */
header {
   background-image: url("images/logo.png"); 
   background-size: 50% 80%;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   padding-top: 30%;
}
body {
    background-size: 100em 85em;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
   border: .2em solid black;
   background: rgba(0, 0, 0, 0.3);
   text-align: center;
}

td  {
    color: white;
}

th {

	color: #66ffff;
}

button {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    border: 0em;
    color: #66ffff;
    padding-top: .25em;
    padding-bottom: .1em;
    padding-left: .25em;
}

input {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 1em;
    text-align: center;
    color: white;
    border: 0em;
}

.clickableElements {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

.inlineTable {
    display: inline-block;
}

.centered {
  color: black;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 51%;
  transform: translate(-50%, -50%);
}
