@font-face {
  font-family: minecraftFont;
  src: url(minecraft-webfont.woff);
  font-weight: bold;
  font-display: swap;
}

/* font styling for entire page*/
* {
    font-family: minecraftFont;
    font-size: 1.07em;
}
/*<img class="logo" src="images/logo.webp" alt="Logo" style="width:55vw;height:29vw;" async> */
header {
   background-image: url("images/logo.png"); 
   background-size: 55% 80%;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   padding-top: 30%;
}
body {
    background-size: 100em 85em;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
   border: .2em solid black;
   background: rgba(0, 0, 0, 0.3);
   text-align: center;
}

td  {
    color: white;
}

th {

	color: #66ffff;
}

button {
    font-size:  2em;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0em;
    color: #66ffff;
    padding-top: .25em;
    padding-bottom: .1em;
    padding-left: .25em;
}

input {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 1em;
    text-align: center;
    color: white;
    border: 0em;
    font-size: 1.5em;
}

.inlineTable {
    display: inline-block;
}
.space {
    margin-top:30em;
}

.logo {
  position: absolute;
  color: white;
  top: 0%;
  left: 23%;
}

.centered {
  color: black;
  font-size: 2.7em;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 51%;
  transform: translate(-50%, -50%);
}
