@font-face {
  font-family: minecraftFont;
  src: url(minecraft-webfont.woff);
  font-weight: bold;
  font-display: swap;
}

html {
    letter-spacing: .1em;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    letter-spacing: .1em;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 1.65em;
    letter-spacing: .1em;
  }
}

/* font styling for entire page*/
* {
    font-family: minecraftFont;
}
/*<img class="logo" src="images/logo.webp" alt="Logo" style="width:55vw;height:29vw;" async> */

body {
    background-size: 100em 85em;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
   border: .2em solid black;
   background: rgba(0, 0, 0, 0.3);
   text-align: center;
}

h1 {
    padding-left: 30%;
}

td  {
    color: white;
    padding-top: .15%;
    padding-right: .5%;
    padding-left: .5%;
    padding-bottom: .15%;
}

th {
	color: #66ffff;
    padding-top: .5%;
    padding-right: .5%;
    padding-left: .5%;
    padding-bottom: .5%;
}

button {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    border: 0em;
    color: #66ffff;
    padding-top: .25em;
    padding-bottom: .1em;
    padding-left: .25em;
}

input {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 1em;
    text-align: center;
    color: white;
    border: 0em;
}

.clickableElements {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

.centered {
  color: black;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 51%;
  transform: translate(-50%, -50%);
}

#middle {
    margin-top: 2.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

#donate {
    margin: 0 auto; 
    text-align: left;
}

